@model IEnumerable<UrbanFarm.Models.Farm>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Admin Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Employee" asp-action="Index">Employees</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Farm" asp-action="Index">Farms</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Planting" asp-action="Index">Plantings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="PlantingArea" asp-action="Index">Planting Areas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Resource" asp-action="Admin">Resources</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Sale" asp-action="Index">Sales</a>
                        </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Supplier" asp-action="Index">Suppliers</a>
                    </li>
                </ul>

                <!-- Botão de login alinhado à direita -->
                <a style="color: white;" asp-controller="Home" asp-action="Index" class="btn btn-success ml-2">Sair</a>
            </div>
        </div>
    </nav>
</header>

<h2>Farm List</h2>
<p>
    <a asp-action="Create">Create New Farm</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Location</th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var farm in Model)
        {
            <tr>
                <td>@farm.Name</td>
                <td>@farm.Location</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@farm.FarmId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@farm.FarmId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@farm.FarmId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
